body {
  background-color: #EBEDF2;
  font-family: 'Cairo', sans-serif;
}

.main-header {
  display: flex;
  justify-content: center;
}

.breadcrumb {
  display: flex;
  width: 800px;
  height: 48px;
  border-radius: 6px;
  background-color: #F5F6FF;
  box-shadow: 0px 6px 16px 0px #0000000D;
  justify-content: flex-end;
  align-items: center;
}

.breadcrumb__list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

.breadcrumb__item {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.07em;
  padding-right: 10px;
  border-right: 1px #14161914 solid;
}

.breadcrumb__item:last-child {
  border-right: none;
}

.breadcrumb__item--active {
  font-weight: 800;
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  /* background-color: #E6EBF3; */
  display: flex;
  background-color: blue;
  width: 768px;
  height: 167px;
  border-radius: 6px;
}

.sidebar__aside {
  background-color: green;
  width: 100px;
  height: 100px;
}

.sidebar__number {
  border-bottom: 2px #141619 solid;
}