body {
  background-color: #EBEDF2;
  font-family: 'Cairo', sans-serif;
}

.breadcrumb {
  margin: auto;
  display: flex;
  width: 800px;
  height: 48px;
  border-radius: 6px;
  background-color: #F5F6FF;
  box-shadow: 0px 6px 16px 0px #0000000D;
  justify-content: flex-end;
  align-items: center;
}

.breadcrumb__list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

.breadcrumb__item {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.07em;
  padding-right: 10px;
  border-right: 1px #14161914 solid;
}

.breadcrumb__item:last-child {
  border-right: none;
}

.breadcrumb__item--active {
  font-weight: 800;
}

main {
  max-width: 800px;
  margin: auto;
}

/* Lesson start */
.lesson {
  background-color: #E6EBF3;
  display: flex;
  width: 768px;
  height: 167px;
  border-radius: 6px;
  padding: 16px 16px 32px 16px;
  gap: 32px;
  margin: 1rem 0;
}

.lesson__aside {
  width: 25%;
  height: 100%;
}

.lesson__content {
  width: 75%;
  height: 100%;
}

.lesson__heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  margin: 1rem 0;
}

.lesson__heading--border-bottom {
  border-bottom: 2px black solid;
  width: 32px;
}

.lesson__heading--small {
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
}

.lesson__outcome {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 1rem;
}

.lesson__outcome__number {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0em;
  border-radius: 4px;
  background-color: #F3F5F6F0;
}

.lesson__outcome__text {
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0;
}

/* Lesson end */

/* Link start */
.link {
  display: flex;
  align-items: center;
  width: 528px;
  height: 40px;
  padding-left: 12px;
  border-radius: 4px;
  gap: 12px;
  background-color: #14161914;
}

.link__icon {
  width: 24px;
  height: 24px;
}

.link__text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0em;
  margin: 0;
}

/* Link end */