html body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240, 152, 38);
    background-color: antiquewhite;
    padding: 1rem;
}
 

.mainColors {
    color: darkmagenta;
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    margin-top: 0;
    text-align: center;
}

p {
    color: #333333;
    font-size: 1.2rem;
    /*padding: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;*/
    padding: 3rem 0 3rem 6rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(180, 150, 110);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(124, 93, 52);
}

.active {
    background-color: rgb(156, 111, 52);
}