html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

li {
  list-style: none;
}

body {
  background-color: black;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 102px;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 34px;
  margin: 15px 0;
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 16px;
}

li, address {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding: 1rem;
  padding-bottom: 0;
  background-color: #3DE07E;
  max-height: 600px;
}

.navIcon {
  grid-column: 1 / -1;
}

.headline {
  grid-column: 1 / -1;
  margin-top: auto;
  font-size: 6.25rem;
  text-align: center;
}

.ninjaHead {
  margin-top: auto;
  grid-column: 6 / 8;
  align-self: center;
  max-width: 100%;
}

/*
header {
  background-color: #3DE07E;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} 

.navIcon {
  width: 30px;
  align-self: flex-start;
  margin: 30px;
} 

.ninjaHead {
  width: 250px;
} */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  margin: 75px auto;
  gap: 20px;
  row-gap: 80px;
}

main > div {
  min-width: 100%;
}

.checkoutMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: 75px auto;
  gap: 20px;
  row-gap: 80px;
}

.white-heading {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 48px;
  grid-column: 1 / span 2;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  width: 75%;
  margin: auto;
  gap: 20px;
  margin-bottom: 80px;
}

footer {
  background-color: #333333;
  height: 300px;
  padding-top: 60px;
}

.footerContainer {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.social {
  width: 30px;
}

.smallCard {
  position: relative;
}

.smallCard > img {
  width: 100%;
}

.smallCard p {
  margin: 0 0 100px;
}

.largeCard > img {
  width: 100%;
}

.largeCard {
  background-color: white;
  position: relative;
}

.largeCard h2 {
  color: black;
  margin: 15px 15px 100px;
}

.largeCard p {
  color: black;
  margin: 0 15px 150px;
}

button {
  background-color: #E83F57;
  color: white;
  border: 0;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.smallButton {
  width: 139px;
  height: 30px;
}

.largeButton {
  width: 173px;
  height: 49px;
  margin: 15px;
}